[submodule "third_party/rplidar_sdk"]
	path = third_party/rplidar_sdk
	url = https://github.com/Marcus-Forte/rplidar_sdk.git
[submodule "third_party/Livox-SDK2"]
	path = third_party/Livox-SDK2
	url = https://github.com/Marcus-Forte/Livox-SDK2.git
